[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	email = pedromeinen99@gmail.com
	name = Pedro Henrique Souza Meinen
[init]
	defaultBranch = main
