format = """
$directory\
$git_branch\
$git_state\
$git_status\
$line_break\
$character"""

right_format = "$battery$cmd_duration"

[directory]
style = "blue"

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](bright-black) ($ahead_behind$stashed)]($style)"
style = "bright-black"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[[battery.display]]
threshold = 80
style = "bold green"

[[battery.display]]
threshold = 30
style = "bold yellow"

[[battery.display]]
threshold = 15
style = "bold red"
